.list {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

#date {
    font-size: 25px;
}

#text {
    width: 40%;
    text-align: center;
    flex-grow: 0.5;
    font-size: 25px;
}

#checkbox {
    width: 30px;
    height: 30px;
    flex-grow: 0.1;
}

button {
    font-size: 25px;
    background-color: #6495ED;
    font-weight: bold;
    box-sizing: border-box;
    height: 100%;
    flex-grow: 0.4;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1090px) {
    .list {}

    #text {
        font-size: 0.9em;
    }

    #date {
        font-size: 0.9em;

    }

    #checkbox {}

    button {
        font-size: 0.9em;

    }
}